.container-cards {
  padding: 1.5rem;
  display: flex;
	flex-direction: row;
  justify-content: space-around;
}


@media only screen and (max-width: 850px) {
  .container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
